<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/team.css">
    <title>Heart Disease Prediction</title>
</head>
<body>
    <nav>
        <p class="nav-title">Heart Disease Prediction</p>
        <div class="menu-icon" onclick="toggleMenu()">
            <span id="menu-icon">&#9776;</span>
        </div>
        <ul class="ls" id="menu">
            <li><a href="/" class="ancor">Home</a></li>
            <li><a href="/about" class="ancor">Info</a></li>
            <li><a href="/team" class="ancor">Team Members</a></li>
        </ul>
    </nav>
    <div class="tm-info">
        <h1>Team Members Information</h1>
        <p class="intro">Our final-year project, <span>EARLY HEART DISEASE PREDICTION</span> is developed by a team of four passionate engineers: Kotaru Sai Naga Venkata Adarsh, Akumarthi Aksha Sharmila, Bagga Indravathi, and Gubbala Jaya Kumar. Each member plays a crucial role in building this innovative system, combining expertise in machine learning, web development, backend engineering, and UI/UX design. Together, we aim to create a smart and user-friendly platform that assists in early disease prediction, helping individuals take proactive health measures. </p>
        <div class="tm">
            <div class="box">
                <h2>TEAM LEADER</h1>
                <p><span>Name:</span> Kotaru Sai Naga Venkata Adarsh</p>
                <p><span>Roll no:</span> 21A31A1246</p>
                <p><span>Branch:</span> Information Technology</p>
                <p><span>College:</span> Pragati Engineering College</p>
                <p><span>Works On:</span> Model & UI Development</p>

            </div>
            <div class="box">
                <h2>MEMBER</h1>
                <p><span>Name:</span> Akumarthi Aksha Sharmila</p>
                <p><span>Roll no:</span> 21A31A1201</p>
                <p><span>Branch:</span> Information Technology</p>
                <p><span>College:</span> Pragati Engineering College</p>
                <p><span>Works On:</span> Data Preprocessing</p>
            </div>
        <div class="box">
                <h2>MEMBER</h1>
                <p><span>Name:</span> Bagga Indravathi</p>
                <p><span>Roll no:</span> 21A31A1202</p>
                <p><span>Branch:</span> Information Technology</p>
                <p><span>College:</span> Pragati Engineering College</p>
                <p><span>Works On:</span> Dataset Preparation </p>
            </div>
            <div class="box">
                <h2>MEMBER</h1>
                <p><span>Name:</span> Gubbala Jaya Kumar</p>
                <p><span>Roll no:</span> 22A35A1202</p>
                <p><span>Branch:</span> Information Technology</p>
                <p><span>College:</span> Pragati Engineering College</p>
                <p><span>Works On:</span> Model & UI Development</p>
            </div>
        </div>        
    </div>
    <div class="banner">
        <h1>Why We Chose Early Heart Disease Prediction?
                </h1>
        <div class="cont">
                <p class="sub">Our project, "Early Heart Disease Prediction using Machine Learning," aims to develop a predictive system that can assess an individual’s risk of heart disease based on key health parameters. By leveraging machine learning algorithms, we strive to provide an efficient, accurate, and early warning system that can help in timely medical intervention, ultimately reducing the risk of severe complications.</p>
                <!-- <div class="bus">
                    <div class="c1">
                        <div class="card"><p>Rising Cases of Heart Disease</p></div>
                        <div class="card"><p>Lack of Awareness </p></div>
                        <div class="card"><p>Technology for Better Healthcare </p></div>
                        <div class="card"><p>Silent Nature of Heart Diseases </p></div>
                    </div>
                    <div class="c1">
                        <div class="card"><p>Bridging the Gap Between Technology and Healthcare </p></div>
                        <div class="card"><p>Encouraging Preventive Healthcare </p></div>
                        <div class="card"><p>Reducing Healthcare Costs </p></div>
                        <div class="card"><p>Social Impact and Motivation </p>
                        </div>
                    </div>
                </div> -->
                <div class="bus">
            <div class="c1">
                <div class="card" onclick="flipCard(this)">
                    <div class="card-inner">
                        <div class="front">Rising Cases of Heart Disease</div>
                        <div class="back">Heart disease cases are increasing worldwide due to poor lifestyle choices and genetic factors.</div>
                    </div>
                </div>
                <div class="card" onclick="flipCard(this)">
                    <div class="card-inner">
                        <div class="front">Lack of Awareness</div>
                        <div class="back">Many people remain unaware of early symptoms, leading to delayed diagnosis and treatment.</div>
                    </div>
                </div>
                <div class="card" onclick="flipCard(this)">
                    <div class="card-inner">
                        <div class="front">Technology for Better Healthcare</div>
                        <div class="back">Advanced medical technology enables accurate diagnosis and timely interventions.</div>
                    </div>
                </div>
                <div class="card" onclick="flipCard(this)">
                    <div class="card-inner">
                        <div class="front">Silent Nature of Heart Diseases</div>
                        <div class="back">Heart diseases often develop silently, making regular health checkups crucial.</div>
                    </div>
                </div>
            </div>
            <div class="c1">
                <div class="card" onclick="flipCard(this)">
                    <div class="card-inner">
                        <div class="front">Bridging the Gap Between Technology and Healthcare</div>
                        <div class="back">AI and ML-based tools help doctors diagnose heart diseases with greater accuracy.</div>
                    </div>
                </div>
                <div class="card" onclick="flipCard(this)">
                    <div class="card-inner">
                        <div class="front">Encouraging Preventive Healthcare</div>
                        <div class="back">Preventive healthcare reduces long-term medical costs and improves quality of life.</div>
                    </div>
                </div>
                <div class="card" onclick="flipCard(this)">
                    <div class="card-inner">
                        <div class="front">Reducing Healthcare Costs</div>
                        <div class="back">Early detection minimizes the need for expensive treatments and hospitalizations.</div>
                    </div>
                </div>
                <div class="card" onclick="flipCard(this)">
                    <div class="card-inner">
                        <div class="front">Social Impact and Motivation</div>
                        <div class="back">Raising awareness about heart disease can help save lives and improve community health.</div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    
    <div class="review">
        <h2>Final Year Project Review</h2>
        <div class="p">
        <a href="https://drive.google.com/file/d/1tH785o3sfomLmHLMFT_tXpq8peveC-64/view?usp=sharing" target="_blank" attribute class="circular">Project Review Circular</a>
    <table>
        <tr>
            <th>S.No</th>
            <th>Review No.</th>
            <th>Review Date</th>
            <th>Deliverables</th>
            <th>PPT / PDF</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Review 1</td>
            <td>25-01-2025</td>
            <td>
                <b>Project Synopsis</b><br>
                ✓ Literature Survey<br>
                ✓ Existing System and its Limitations<br>
                ✓ Proposed System and its Advantages
            </td>
            <td class="link">
                <a href="https://docs.google.com/presentation/d/10axS7LMQroJobMOUSp6mDwdubJfWeFGpTO2TF_nQy6w/edit?usp=sharing" target="_blank" attribute>Review-1 PPT</a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Review 2</td>
            <td>10-02-2025</td>
            <td>
                <b>Mid Term Project Evaluation</b><br>
                ✓ Requirement Analysis<br>
                ✓ Functional and Non-Functional Design<br>
                ✓ UML and Data Flow Diagrams<br>
                ✓ Methodology
            </td>
            <td class="link">
                <a href="https://docs.google.com/presentation/d/1qBDt2JmCRNkPGmmRkgNQr2fdmITagqoI6gFRZgExjiE/edit?usp=sharing" target="_blank" attribute>Review-2 PPT</a>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Review 3</td>
            <td>27-02-2025</td>
            <td>
                <b>End Semester Project Evaluation</b><br>
                ✓ Coding<br>
                ✓ Testing<br>
                ✓ Conclusions
            </td>
            <td class="link">
                <a href="">Review-3 PPT</a>
            </td>
        </tr>
    </table>
        </div>
    </div>
    <div class="footer">
        <div>
            <h1>Heart Disease Prediction</h1>
            <div class="footer-info">
                <div>
                    <h1>Team Members</h1>
                    <p>Kotaru Sai Naga Venkata Adarsh - [21A31A1246]</p>
                    <p>Akumarthi Aksha Sharmila - [21A31A1201]</p>
                    <p>Bagga Indravathi - [21A31A1202]</p>
                    <p>Gubbala Jaya Kumar - [22A35A1202]</p>
                </div>
                <div>
                    <h1>Details</h1>
                    <p>2021-2025 Batch</p>
                    <p>Information Technology Department</p>
                    <p>Pragati Engineering College</p>
                </div>
            </div>
            <hr style="margin-top: 4%; border-color: #393E46;">
            <p style="text-align: center; font-size: 30px; text-transform: uppercase; font-weight: bold;">Batch@2025</p>
        </div>
    </div>
    <script>
        function flipCard(card) {
            card.classList.toggle("flipped");
        }
        function toggleMenu() {
            let menu = document.getElementById("menu");
            let icon = document.getElementById("menu-icon");
        
            menu.classList.toggle("active");
        
            if (menu.classList.contains("active")) {
                icon.innerHTML = "&#10006;";
            } else {
                icon.innerHTML = "&#9776;";
            }
        }
        
    </script>
</body>
</html>

